html {
  font-family: sans-serif;
}
li{
  margin-bottom: 10px;
  padding: 5px;
}

.priority-high{
  color: red;
}

.priority-medium {
  color: orange;
}

.priority-low {
  color: green;
}

span {
    color: black;
    background-color: lightblue;
    font-weight: bold;
    padding:5px 10px 5px 10px;
    border-radius: 50px;
    font-size: 14px;
}
input[type="text"], input[type="number"]{
    color: black;
    background-color: white;
    font-weight: bold;
    padding:5px 10px 5px 10px;
    border-radius: 50px;
    font-size: 14px;
}
#add-new-todo-button{
    text-align: center;
    color: black;
    background-color: white;
    font-weight: bold;
    padding:5px 10px 5px 10px;
    border-radius: 50px;
    font-size: 14px;
    outline: none
    box-shaodw: 2px 2px 1px #90A4AE;
    border-style: none;
    /*display: block;*/
    margin-top: 10px
  }
  
  #add-new-todo-button:active{
    box-shaodw: 1px 1px 1px #90A4AE;
  }
  
}